.main {

    &__container {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 3rem;
    }

    &__header {
        text-align: center;
        color: salmon;
        font-family: cursive;
        font-size: 1rem;
    }

    &__logout {
        float: right;
        text-decoration: none;
        color: salmon;
        padding: 0.6rem 1rem;
        border-radius: 2rem;
        font-family: cursive;
        background-image: linear-gradient(280deg, rgb(239, 225, 250), rgb(241, 229, 228));
    }

    &__sub-header {
        text-align: center;
        font-family: cursive;
        color:indigo;
        font-size: 2rem;
    }

    &__flex-div {
        border: 1px solid salmon;
        width: 200px;
        height: 100px;
        margin-top: 2rem;
        border-radius: 0.4rem;
        padding: 1.5rem 0 0 1rem;
        font-size: 1.2rem;
        font-family: cursive;
        background-image: linear-gradient(60deg,rgb(240, 171, 164), white);
    }

    &__alert {
        background-image: linear-gradient(280deg, rgb(241, 137, 137), rgb(238, 210, 53));
        width: 32%;
        margin: 0 auto;
        border-radius: 0.4rem;

    }

    &__flash-alert {
        padding: 2rem 2rem;
        animation: blinker 1s linear infinite;
        color: black;
        font-size: 1.2rem;

        @keyframes blinker {
            50% {
              opacity: 0;
            }
          }
    }

    &__container-sub {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid lightgrey;
        margin-top: 3rem;
        padding-top: 2rem;
        margin-bottom: 4rem;
    }

    &__heading {
        color: rgb(46, 44, 44);
        font-size: 1.4rem;
        font-family: cursive;
    }

    &__form {
        width: 40%;
    }

    &__form-container {
        margin-bottom: 3rem;
    }

    &__form-input {
        display: flex;
        flex-direction: column;
    }

    &__input {
        width: 100%;
        height: 40px;
        border-radius: 0.4rem;
        border: 1px solid rgb(163, 159, 159);
    }

    &__input[placeholder] {
        padding-left: 1rem;
        font-size: 0.9rem;
        font-family: cursive;
    }

    &__input-label {
        font-family: cursive;
        margin-bottom: 0.8rem;
        color: indigo;
    }

    &__button {
        margin-top: 1rem;
        width: 110px;
        color: #ffffff;
        font-family: cursive;
        font-size: 0.9rem;
        padding: 0.7rem 0;
        background-color: salmon;
        border: none;
        border-radius: 2rem;
        
    }

    &__button:hover,
    &__button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em adjust-hue($color: indigo, $degrees: 45deg) ;
    transform: translateY(-0.25em);
    }

    &__form-select {
        display: flex;
        flex-direction: column;
    }

    &__input-select {
        height: 40px;
        border-radius: 0.4rem;
        border: 1px solid rgb(163, 159, 159);
        font-family: cursive;
        color: rgb(46, 44, 44);;
        font-size: 0.9rem;
        margin-bottom: 1.6rem;
    }

    &__expense-container {
        width: 30%;
        margin-top: 2rem;
        max-height: 520px;
        overflow-y: scroll;
        background-image: linear-gradient(rgb(241, 240, 240), white);
        border-radius: 0.5rem;
        border: 1ps solid transparent;
        box-shadow: 3px 3px 9px 1px rgb(175, 172, 172);
    }

    &__heading-1 {
        color: rgb(46, 44, 44);
        font-size: 1.4rem;
        font-family: cursive;
        text-align: center;
    }

    &__expense-list {
        display: flex;
        justify-content: space-between;
        padding: 0.7rem 2rem;
        background-image: linear-gradient(280deg, rgb(239, 225, 250), rgb(241, 229, 228));
        border: 1px solid lightgrey;
        border-radius: 0.4rem;
        margin: 0.4rem;
        font-family: cursive;
        font-size: 1rem;
    }

    &__delete-button {
        border: none;
        background-color: transparent;
    }

    &__chart {
        margin-top: 3rem;
    }
    
}