.loginForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 60%;

    &__heading {
        margin: 0;
        font-family: cursive;
    }

    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        height: 400px;
        margin: 0 auto;
        padding-top: 5rem;
        border: 1px solid lavender;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 9px 1px grey;
        
    }
    
    &__section {
        margin-bottom: 1.5rem;
        width: 90%;
    }

    &__label {
        font-family: cursive;
        color: indigo;
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    &__control {
        padding: 1rem 2.5rem 1rem .5rem;
        border: 2px solid lightgrey;
        border-radius: 0.4rem;
        
    }

    &__button {
        margin: 1rem auto;
        color: #ffffff;
        font-family: cursive;
        font-size: 0.9rem;
        padding: 1rem 2rem;
        background-color: indigo;
        border: none;
        border-radius: 2rem;
        
    }

    &__button:hover,
    &__button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em adjust-hue($color: indigo, $degrees: 45deg) ;
    transform: translateY(-0.25em);
    }

    &__text {
        font-family: cursive;
    }

    &__link {
        text-decoration: none;
    }

}